<h2>Template: <small>Dinámico</small></h2>
<hr>




<form (ngSubmit)='guardar()' autocomplete='off' #miFormulario='ngForm'>


    <!-- Nombre -->
    <div class='row mb-3'>
        <label class='col-sm-3 col-form-label'>Nombre</label>
        <div class='col-sm-9'>
            <input type='text' class='form-control' ngModel placeholder='Nombre de la persona' name='nombre' required>
            <span class='form-text text-danger' *ngIf='nombreValido()'>
                Eset campo es obligatorio
            </span>
        </div>
    </div>



    <!-- Agregar favorito -->
    <div class='row mb-3'>
        <label class='col-sm-3 col-form-label'>Agregar</label>
        <div class='col-sm-9'>

            <div class='input-group'>
                <input type='text' class='form-control' [(ngModel)]='nuevoJuego' placeholder='Agregar favorito'
                    name='nuevoJuego' (keyup.enter)='agregarJuego()' required>
                <button class='btn btn-outline-primary' type='button' (click)='agregarJuego()'>
                    Agregar
                </button>
            </div>

        </div>
    </div>



    <!-- Lista de juego favoritos -->
    <div class='row mb-3'>
        <label class='col-sm-3 col-form-label'>favoritos</label>
        <div class='col-sm-9'>

            <div class='input-group mb-1' *ngFor='let juego of persona.favorito; let i = index'>

                <input class='form-control ' [(ngModel)]='juego.nombre' name='favorito_{{i}}' required>
                <button class='btn btn-outline-danger' type='button' (click)='eliminar(i)'>
                    Eliminar
                </button>
            </div>

        </div>
    </div>


    <div class='row'>
        <div class='col-sm-12'>
            <button type='button' (click)='guardar()' class='btn btn-primary float-end'
                [disabled]='miFormulario.invalid'>
                Guardar
            </button>
        </div>
    </div>
</form>









<span>Perosna</span>
<pre>{{persona | json}}</pre>