<h2>Reactives: <small>Dinámico</small></h2>
<hr>




<form autocomplete='off' [formGroup]="miFormulario" (ngSubmit)="guardar()">


    <!-- Nombre -->
    <div class='row mb-3'>
        <label class='col-sm-3 col-form-label'>Nombre</label>
        <div class='col-sm-9'>
            <input type='text' class='form-control' placeholder='Nombre de la persona' formControlName="nombre">
            <span class='form-text text-danger' *ngIf="campoEsValido('nombre')">
                Este campo es obligatorio
            </span>
        </div>
    </div>



    <!-- Agregar favorito -->
    <div class='row mb-3'>
        <label class='col-sm-3 col-form-label'>Agregar</label>
        <div class='col-sm-9'>

            <div class='input-group'>
                <input type='text' class='form-control' placeholder='Agregar favorito' (keyup.enter)='agregarFavorito()'
                    [formControl]="nuevoFavorito">
                <button class='btn btn-outline-primary' type='button' (click)='agregarFavorito()'>
                    Agregar
                </button>
            </div>

        </div>
    </div>



    <!-- Lista de juego favoritos -->
    <div class='row mb-3'>
        <label class='col-sm-3 col-form-label'>favoritos</label>
        <div class='col-sm-9' formArrayName="favoritos">

            <div class='input-group mb-1' *ngFor="let favorito of favoritosArr.controls; let i = index">

                <input class='form-control' [formControlName]="i">
                <button class='btn btn-outline-danger' type='button' (click)="borrar(i)">
                    Eliminar
                </button>
            </div>

        </div>
    </div>


    <div class='row'>
        <div class='col-sm-12'>
            <button type='button' (click)='1' class='btn btn-primary float-end' (click)="guardar()">
                Guardar
            </button>
        </div>
    </div>
</form>




<span>Valid</span>
<pre>{{miFormulario.valid}}</pre>
<br>


<span>Valid</span>
<pre>{{miFormulario.value | json}}</pre>
<br>

<span>Agregar juego</span>
<pre>{{nuevoFavorito.valid}}</pre>
<br>