<h2>Reactives: <small>Dinámico</small></h2>
<hr>




<form autocomplete='off'>


    <!-- Nombre -->
    <div class='row mb-3'>
        <label class='col-sm-3 col-form-label'>Nombre</label>
        <div class='col-sm-9'>
            <input type='text' class='form-control' placeholder='Nombre de la persona'>
            <span class='form-text text-danger'>
                Eset campo es obligatorio
            </span>
        </div>
    </div>



    <!-- Agregar favorito -->
    <div class='row mb-3'>
        <label class='col-sm-3 col-form-label'>Agregar</label>
        <div class='col-sm-9'>

            <div class='input-group'>
                <input type='text' class='form-control' placeholder='Agregar favorito' (keyup.enter)='1'>
                <button class='btn btn-outline-primary' type='button' (click)='1'>
                    Agregar
                </button>
            </div>

        </div>
    </div>



    <!-- Lista de juego favoritos -->
    <div class='row mb-3'>
        <label class='col-sm-3 col-form-label'>favoritos</label>
        <div class='col-sm-9'>

            <!-- <div class='input-group mb-1' *ngFor='let juego of persona.favorito; let i = index'>

                <input class='form-control'>
                <button class='btn btn-outline-danger' type='button' (click)='i'>
                    Eliminar
                </button>
            </div> -->

        </div>
    </div>


    <div class='row'>
        <div class='col-sm-12'>
            <button type='button' (click)='1' class='btn btn-primary float-end'>
                Guardar
            </button>
        </div>
    </div>
</form>









<!-- <span>Perosna</span>
<pre>{{persona | json}}</pre> -->